In [3]:
# Series (index가 있는 1차원 배열(vector) 형태)
# Sequence type data를 받아서 index가 있는 객체 생성 (ndarray와 거의 유사)
import pandas as pd
data = [1,3,5,7,9]
s = pd.Series(data)    # index : default값 (0부터 시작하는 integer type)
print(s)

0    1
1    3
2    5
3    7
4    9
dtype: int64

In [5]:
# index label 을 지정해서 Sereis 생성 가능
import pandas as pd
data = [1,3,5,7,9]
s = pd.Series(data, index = ['영희', '순희', '길동','지성','Bob'])
# 직접 index label 지정 가능
print(s)

# Series의 속성으로 data access rksmd
print(s.values)   # access values
print(s.index)    # access index (dtype = index type)

영희     1
순희     3
길동     5
지성     7
Bob    9
dtype: int64
[1 3 5 7 9]
Index(['영희', '순희', '길동', '지성', 'Bob'], dtype='object')

In [6]:
# DataFrame (2d array: consist of row, col, index(immutable))
# Dictionary type data => DataFrame
import pandas as pd
g_data = {'year':[2016, 2017,2018], 'GDP rate':[2.8, 3.1, 3.0], 'GDP':['1.63M', '1.73M', '1.83M']}
df = pd.DataFrame(g_data)    # df = pd.DataFrame(data = g_data, index = default)
print(df)
# consist of 3 column (year, GDP rate, GDP)
# consists of 3 series (default integer index + col value)

   year  GDP rate    GDP
0  2016       2.8  1.63M
1  2017       3.1  1.73M
2  2018       3.0  1.83M

In [10]:
import numpy as np
import pandas as pd

#2차원 array (ndarray) 객체 사용
input1 = np.array([[1,2,3],[4,5,6]])
df1 = pd.DataFrame(input1)  #default index (행/열 index both default)
print("***** df1 *****")
print(df1,'\n')

#Series 객체 사용
# dict type data -> Series type data -> DataFrame
input2 = pd.Series({'England': 'London', 'India':'New Delhi', 'USA':'Washington','Belgium':'Brussels'})
# dict type을 series로 만들때, key에 해당하는 부분이 series의 index로 들어감
df2 = pd.DataFrame(data = input2, columns = ['city'])
# index : dictionary data의 key값들, 1번째 column의 index : 'city'로 지정
print("***** df2 *****")
print(df2, '\n')

#DataFrame 객체 사용  (mapping)
input3 = pd.DataFrame(data =[6,7,8], index = range(0,3), columns=['A'])
df3 = pd.DataFrame(input3)
print("***** df3 *****")
print(df3,'\n')

***** df1 *****
   0  1  2
0  1  2  3
1  4  5  6

***** df2 *****
               city
England      London
India     New Delhi
USA      Washington
Belgium    Brussels

***** df3 *****
   A
0  6
1  7
2  8

In [11]:
# Making index for DataFrame
import pandas as pd
index = pd.date_range("1/1/2000", periods = 8)
print(index)
# pandas.date_range(start=None, end = None, periods=None, freq = None, tz = None, normalize = False, name = None, closed = None, **kwargs)
# fixed frequency DatetimeIndex 객체를 만들어서 반환

DatetimeIndex(['2000-01-01', '2000-01-02', '2000-01-03', '2000-01-04',
               '2000-01-05', '2000-01-06', '2000-01-07', '2000-01-08'],
              dtype='datetime64[ns]', freq='D')

In [16]:
# pandas.date_range() 중요함!!
# start, end, periods, freq (총 네 개의 parameter) 중 정확히 세 개가 specified 되어야함
# freq = 디폴트값으로 'D' 값, 즉 day 단위의 frequency를 갖는다 (freq 생략 후에도 나머지중 두개가 specify? 가능)
# 1.specify start and end
dr1 = pd.date_range(start = "1/1/2018", end = '1/08/2018')
# 2. specify start and periods(day)  frequency는 생략되어있지만 기본적으로 'D'
dr2 = pd.date_range(start = '1/1/2018', periods = 8)
# 3. specify end and periods
dr3 = pd.date_range(end = '1/1/2018', periods = 8)

# 4. specify start, end, period. (3)  -> frequency 제외하고 이미 3개!! - closed on both (start, end)
# frequency가 빠짐(Set to None)-> 결과적으로 linearly spaced elements (균등하게 나눔-> 양쪽 포함)
dr4 = pd.date_range(start = '2018-04-24', end = '2018-04-27', periods = 3)
print(dr1)
print(dr2)
print(dr3)
print(dr4)

DatetimeIndex(['2018-01-01', '2018-01-02', '2018-01-03', '2018-01-04',
               '2018-01-05', '2018-01-06', '2018-01-07', '2018-01-08'],
              dtype='datetime64[ns]', freq='D')
DatetimeIndex(['2018-01-01', '2018-01-02', '2018-01-03', '2018-01-04',
               '2018-01-05', '2018-01-06', '2018-01-07', '2018-01-08'],
              dtype='datetime64[ns]', freq='D')
DatetimeIndex(['2017-12-25', '2017-12-26', '2017-12-27', '2017-12-28',
               '2017-12-29', '2017-12-30', '2017-12-31', '2018-01-01'],
              dtype='datetime64[ns]', freq='D')
DatetimeIndex(['2018-04-24 00:00:00', '2018-04-25 12:00:00',
               '2018-04-27 00:00:00'],
              dtype='datetime64[ns]', freq=None)

In [17]:
import pandas as pd
index = pd.date_range('1/1/2000', periods = 8) #freq : default ('D')
# datetime index를 만들때 datetime = datetime64[ns]
print(index)

DatetimeIndex(['2000-01-01', '2000-01-02', '2000-01-03', '2000-01-04',
               '2000-01-05', '2000-01-06', '2000-01-07', '2000-01-08'],
              dtype='datetime64[ns]', freq='D')

In [20]:
import numpy as np
df = pd.DataFrame(np.random.rand(8,3), index = index, columns = list('ABC'))
# randome.rand(8,3) : (0,1)구간의 임의 실수로 8행 3열 ndarray
# index 는 이전 코드 예제에서 생성 index
df

                   A         B         C
2000-01-01  0.998562  0.038990  0.030460
2000-01-02  0.331402  0.652236  0.968883
2000-01-03  0.542146  0.106039  0.111943
2000-01-04  0.254604  0.713055  0.185276
2000-01-05  0.034618  0.336168  0.453230
2000-01-06  0.051746  0.753323  0.222648
2000-01-07  0.067872  0.505266  0.947865
2000-01-08  0.900961  0.393648  0.666667

In [21]:
# masking 적용.
print(df['B']) #이전 df  data 구조에서 column B에만 access, print

2000-01-01    0.038990
2000-01-02    0.652236
2000-01-03    0.106039
2000-01-04    0.713055
2000-01-05    0.336168
2000-01-06    0.753323
2000-01-07    0.505266
2000-01-08    0.393648
Freq: D, Name: B, dtype: float64

In [23]:
print(df['B']>0.4)

2000-01-01    False
2000-01-02     True
2000-01-03    False
2000-01-04     True
2000-01-05    False
2000-01-06     True
2000-01-07     True
2000-01-08    False
Freq: D, Name: B, dtype: bool

In [24]:
df2 = df[df['B']>0.4]
df2

                   A         B         C
2000-01-02  0.331402  0.652236  0.968883
2000-01-04  0.254604  0.713055  0.185276
2000-01-06  0.051746  0.753323  0.222648
2000-01-07  0.067872  0.505266  0.947865

In [25]:
# DataFrame Type data 의 경우 df.T를 통해 행과 열이 transpose된 행렬
df2.T

   2000-01-02  2000-01-04  2000-01-06  2000-01-07
A    0.331402    0.254604    0.051746    0.067872
B    0.652236    0.713055    0.753323    0.505266
C    0.968883    0.185276    0.222648    0.947865

In [26]:
df['D'] = df['A']/df['B']   #A열의 값 / B열의 값으로 나눈 값 : D열에 저장
df

                   A         B         C          D
2000-01-01  0.998562  0.038990  0.030460  25.610966
2000-01-02  0.331402  0.652236  0.968883   0.508101
2000-01-03  0.542146  0.106039  0.111943   5.112716
2000-01-04  0.254604  0.713055  0.185276   0.357061
2000-01-05  0.034618  0.336168  0.453230   0.102980
2000-01-06  0.051746  0.753323  0.222648   0.068690
2000-01-07  0.067872  0.505266  0.947865   0.134330
2000-01-08  0.900961  0.393648  0.666667   2.288750

In [27]:
# axis 지정해주기!! (행끼리 연산 or 열끼리 연산)
df['E'] = np.sum(df, axis=1) # axis = 1 : 같은 행의 data 를 더하기
df.head()       # df.head()의 default:5. 즉 기본으로 5행까지만 출력됨

                   A         B         C          D          E
2000-01-01  0.998562  0.038990  0.030460  25.610966  26.678978
2000-01-02  0.331402  0.652236  0.968883   0.508101   2.460621
2000-01-03  0.542146  0.106039  0.111943   5.112716   5.872843
2000-01-04  0.254604  0.713055  0.185276   0.357061   1.509996
2000-01-05  0.034618  0.336168  0.453230   0.102980   0.926995

In [28]:
# 모든 열의 값에서 A열값을 빼기
df = df.sub(df['A'], axis =0)  # A형 데이터를 기준으로 열에 대해 우선 계산
df.head()   # 5행까지 출력

              A         B         C          D          E
2000-01-01  0.0 -0.959573 -0.968102  24.612404  25.680416
2000-01-02  0.0  0.320835  0.637482   0.176699   2.129220
2000-01-03  0.0 -0.436107 -0.430202   4.570571   5.330698
2000-01-04  0.0  0.458451 -0.069328   0.102457   1.255392
2000-01-05  0.0  0.301549  0.418611   0.068361   0.892377

In [29]:
# 모든 값을 C열의 값으로 나누고, csv파일로 저장
df = df.div(df['C'], axis =0)  # C열의 값을 기준으로 div계산
df.to_csv('test.csv')    # df를 test.csv 파일에 저장
df.head()

              A         B    C          D          E
2000-01-01 -0.0  0.991190  1.0 -25.423360 -26.526562
2000-01-02  0.0  0.503284  1.0   0.277183   3.340049
2000-01-03 -0.0  1.013725  1.0 -10.624235 -12.391142
2000-01-04 -0.0 -6.612790  1.0  -1.477853 -18.108011
2000-01-05  0.0  0.720357  1.0   0.163305   2.131756

In [31]:
# DataFrame Summary
import pandas as pd
import numpy as np
index = pd.date_range('1/1/2000', periods = 8) #2000-01-01 부터 2000-01-08까지 index
df = pd.DataFrame(np.random.rand(8,3), index = index, columns = list('ABC'))
# DataFrame( data : ndarray(8x3) of random value in range(0,1) index = index, columns = 'A', 'B', 'C')
df['D'] = df['A']/df['B']
df['E'] = np.sum(df, axis=1)   # 행에 대해 계산
df = df.sub(df['A'], axis =0)
df = df.div(df['C'], axis=0)
df.to_csv('test.csv')    # DataFrame df 를 'test.csv'파일에 저장
df.head()

              A         B    C         D          E
2000-01-01 -0.0  0.155627  1.0 -0.576664  -4.298381
2000-01-02  0.0  0.941360  1.0  2.403206   6.291577
2000-01-03 -0.0 -6.003527  1.0 -1.937460 -20.322094
2000-01-04  0.0  0.966189  1.0  0.031526   2.467421
2000-01-05  0.0  1.086042  1.0  0.224871  10.200259

In [32]:
import pandas as pd
names = ['Bob', 'Jessica', 'Marry', 'John', 'Kate']
births = ['12-25', '10-11', '05-05', '06-12', '11-30']
#data를 읽어온다..
members = {'Name': names, 'Birth': births} # 'Name', 'Birth'를 key이자 column index; names와 births는 value로
df  = pd.DataFrame(data = members)
print(df)

# 열 추가
df['성별']= ['M','F', 'F', 'M', 'F']  # 없는 열을 선언 : 추가하는 것

# 행 추가
df.loc[5] = ['Hanna', '11-11', 'F']  # 없는 행이자 추가하려는 index를 df.loc[]안에. -> 행 추가
print(df)

      Name  Birth
0      Bob  12-25
1  Jessica  10-11
2    Marry  05-05
3     John  06-12
4     Kate  11-30
      Name  Birth 성별
0      Bob  12-25  M
1  Jessica  10-11  F
2    Marry  05-05  F
3     John  06-12  M
4     Kate  11-30  F
5    Hanna  11-11  F

In [33]:
# indexing and masking specific data in Dataframes
import pandas as pd
g_data = [[2016,2.8, '1.63M'],[2017,3.1,'1.73M'],[2018, 3.0, '1.83M']]
df = pd.DataFrame(g_data, columns = ['year', 'GDP rate', 'GDP'], index = [0,1,2])
print(df)

   year  GDP rate    GDP
0  2016       2.8  1.63M
1  2017       3.1  1.73M
2  2018       3.0  1.83M

In [35]:
print(df['year'])  # df.year 과 동일
print()
# boolean indexing
print(df[df['year']>2016])    #df['year'] 의 값들중 2016보다 큰 값에 해당하는 index data masking
print()

print(df['GDP rate'])
print()
print(df.GDP)  # == df['GDP']

0    2016
1    2017
2    2018
Name: year, dtype: int64

   year  GDP rate    GDP
1  2017       3.1  1.73M
2  2018       3.0  1.83M

0    2.8
1    3.1
2    3.0
Name: GDP rate, dtype: float64

0    1.63M
1    1.73M
2    1.83M
Name: GDP, dtype: object

In [36]:
# sort_values() 함수 in DataFrame
# by parameter에 명시하는 변수 기준!!
# default : True (오름차순/ascending = True).
# if ascending = False: 내림차순
print(df.sort_values(by = 'GDP rate')) # 오름차순 (default)
print()
print(df.sort_values(by = 'GDP rate', ascending = False)) #내림차순

   year  GDP rate    GDP
0  2016       2.8  1.63M
2  2018       3.0  1.83M
1  2017       3.1  1.73M

   year  GDP rate    GDP
1  2017       3.1  1.73M
2  2018       3.0  1.83M
0  2016       2.8  1.63M

In [37]:
# 새로운 index 설정하기 : df.reset_index(drop = True)
df2 = df.sort_values(by = 'GDP rate', ascending = False)
print(df2)
print()
df2 = df2.reset_index(drop = True) # 새 인덱스 설정 (현재 순서로)
print(df2)

   year  GDP rate    GDP
1  2017       3.1  1.73M
2  2018       3.0  1.83M
0  2016       2.8  1.63M

   year  GDP rate    GDP
0  2017       3.1  1.73M
1  2018       3.0  1.83M
2  2016       2.8  1.63M

In [38]:
# DataFrame data에 대한 다양한 연산함수
sum = df['GDP rate'].sum()
avg = df['GDP rate'].mean()
print(sum)
print(avg)
print()
print(df.describe())    #각 column별 데이터의 기본적 통계값 모두 표시

8.9
2.966666666666667

         year  GDP rate
count     3.0  3.000000
mean   2017.0  2.966667
std       1.0  0.152753
min    2016.0  2.800000
25%    2016.5  2.900000
50%    2017.0  3.000000
75%    2017.5  3.050000
max    2018.0  3.100000